@import "tailwindcss";

/* FONT */
@font-face {
    font-family: 'Barlow';
    src: url('/fonts/Barlow-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('/fonts/Poppins-ExtraBold.ttf');
}

/* THEME */
@theme {
    --font-barlow: "Barlow", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-poppins-extrabold: "Poppins-ExtraBold", sans-serif;

    /* BASE */
    --color-bg: #000000;
    --color-dark: #212121;
    --color-card: #1a1a1a;
    --color-border: #2a2a2a;

    /* TEXT */
    --color-text: #FFFFFF;
    --color-text-soft: #979797;

    /* PRIMARY GOLD */
    --color-primary: #E9C664;
    --color-primary-hover: #BE9359;
    --color-primary-soft: rgba(233, 198, 100, 0.9);

    /* STATUS */
    --color-success: #22c55e;
    --color-danger: #ef4444;
    --color-warning: #f59e0b;
}

/* INPUT */
.input-main {
  @apply w-full 
  border border-white/10 
  p-3 rounded-xl 
  bg-[#212121] 
  text-white
  placeholder-[#979797]
  focus:outline-none 
  focus:ring-2 
  focus:ring-[#E9C664]/40 
  transition;
}

/* BUTTON */
.btn-primary {
  @apply bg-[#E9C664] 
  text-black 
  px-5 py-2 
  rounded-xl 
  shadow-md 
  hover:bg-[#BE9359] 
  hover:scale-[1.03] 
  transition;
}

/* CARD */
.card-main {
  @apply bg-[#1a1a1a] 
  border border-white/10 
  rounded-2xl 
  p-5 
  shadow-lg;
}

/* GLASS */
.glass {
  @apply bg-white/5 backdrop-blur-xl border border-white/10;
}

/* GLOW GOLD */
.glow {
  box-shadow: 0 0 30px rgba(233, 198, 100, 0.25);
}

/* TEXT GLITCH */
.glitch {
  position: relative;
  color: white;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
}

.glitch::before {
  color: #E9C664;
  z-index: -1;
  animation: glitchTop 1s infinite;
}

.glitch::after {
  color: #ffffff;
  z-index: -2;
  opacity: 0.15;
  animation: glitchBottom 1s infinite;
}

@keyframes glitchTop {
  0% { transform: translate(2px, -2px); }
  50% { transform: translate(-2px, 2px); }
  100% { transform: translate(2px, -2px); }
}

@keyframes glitchBottom {
  0% { transform: translate(-2px, 2px); }
  50% { transform: translate(2px, -2px); }
  100% { transform: translate(-2px, 2px); }
}